[submodule "catkin_ws/src/robot_pose_ekf"]
	path = catkin_ws/src/robot_pose_ekf
	url = git@github.com:jkordani/robot_pose_ekf.git
	branch = jkordani
[submodule "catkin_ws/src/odom_to_trajectory"]
	path = catkin_ws/src/odom_to_trajectory
	url = https://github.com/udacity/odom_to_trajectory
